/node_modules
/public/hot
/storage/*.key
/.idea
/.vagrant
/vendor/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.bash_history
/.vim
/.cagefs
.viminfo
.htaccess
error\.log

access\.log

nbproject/
/vendor
